{% extends 'header.html' %}
{% block body %}

<div class="container">
  <h3>Hello <span class="text-primary">{{ user }}</span>!</h3>
  <div class="well">
      <p>This is a beta of social graph features for RocketChat. Here's all the information I have on folks now.
      <a href="/add">Add your info here.</a>
    </p>
  </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Fullname</th>
          <th>Invitee</th>
          <th>Tribe</th>
          <th>Career</th>
        </tr>
      </thead>
      <tbody>
        {% for graph_datum in graph_data %}
        <tr>
          <td>{{ graph_datum.username }}</td>
          <td>{{ graph_datum.fullname }}</td>
          <td>{{ graph_datum.invitee }}</td>
          <td>{{ graph_datum.tribe }}</td>
          <td>{{ graph_datum.career }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
